<h1>Editing Customer Status</h1>
<div class="text-white">

<%= link_to 'Back To Customer Status', @customer_status, class: 'btn btn-outline-info text-white' %> |
<%= link_to 'Manage Customer Statuses', customer_statuses_path, class: 'btn btn-outline-secondary text-white' %>

</div>


<hr class="new1">

<%= render 'form', customer_status: @customer_status %>


