<div class="container portfolio-container text-white">

<h1>Add Customer Status</h1>
<br>

<%= link_to 'Go Back', customer_statuses_path, class: 'btn btn-outline-secondary text-white' %>

<hr class="new1">

<%= render 'form', customer_status: @customer_status %>

</div>
