<h1>Editing Employee</h1>
<div class="text-white">
<%= link_to 'Show', @employee, class: 'btn btn-outline-info text-white' %> |
<%= link_to 'Back', employees_path, class: 'btn btn-outline-secondary text-white' %>
</div>
<%= render 'form', employee: @employee %>



