<p id="notice"><%= notice %></p>

<p>
  <strong>State province name:</strong>
  <%= @state_province.state_province_name %>
</p>

<%= link_to 'Edit', edit_state_province_path(@state_province) %> |
<%= link_to 'Back', state_provinces_path %>
