<h1>Editing Make</h1>

<div class="text-white">

<%= link_to 'Back To Car Make', @make, class: 'btn btn-outline-info text-white' %> |
<%= link_to 'Manage Car Makes', makes_path, class: 'btn btn-outline-secondary text-white' %>
</div>

<%= render 'form', make: @make %>



