<div class="container portfolio-container text-white">

<h1>Add Car Make</h1>

<br>

<%= link_to 'Back', makes_path, class: 'btn btn-outline-secondary text-white' %>

<hr class="new1">

<%= render 'form', make: @make %>

</div>


