<h1>Editing Invoice</h1>

<div class="text-white">
<%= link_to 'Back To Invoice', @invoice, class: 'btn btn-outline-info text-white' %> |
<%= link_to 'Manage Invoices', invoices_path, class: 'btn btn-outline-secondary text-white' %>
</div>
<%= render 'form', invoice: @invoice %>

