<h1>Editing Invoice Status</h1>
<div class="text-white">

<%= link_to 'Show', @invoice_status, class: 'btn btn-outline-info text-white' %> |
<%= link_to 'Back', invoice_statuses_path, class: 'btn btn-outline-secondary text-white' %>

</div>

<hr class="new1">


<%= render 'form', invoice_status: @invoice_status %>


