<div class="container portfolio-container text-white">

<h1> Create New Customer</h1>

<br>

<%= link_to 'Go Back', customers_path, class: 'btn btn-outline-secondary text-white' %><i style="white-space: pre; color:aquamarine;">   * Required Fields</i>

<hr class="new1">

<%= render 'form', customer: @customer %>

</div>