<p id="notice"><%= notice %></p>

<div class="container text-white">
    <div class="album text-white">

        <h1>Application Management And Reports</h1>
        <hr class="new1">
        <p>Find me in app/views/management/index.html.erb</p>

</div>
</div>