<div class="container portfolio-container text-white">

<h1>New Invoice Type</h1>
<br>

<%= link_to 'Go Back', invoice_types_path, class: 'btn btn-outline-secondary text-white' %><i style="white-space: pre; color:aquamarine;">   * Required Fields</i>

<hr class="new1">

<%= render 'form', invoice_type: @invoice_type %>

</div>
