<div class="container portfolio-container text-white">

<h1>Add Metal Item</h1>

<br>

<%= link_to 'Back', metal_items_path, class: 'btn btn-outline-secondary text-white' %><i style="white-space: pre; color:aquamarine;">   * Required Fields</i>

<hr class="new1">


<%= render 'form', metal_item: @metal_item %>


</div>