<h1>Editing Metal Type</h1>
<div class="text-white">

<%= link_to 'Back To Metal Type', @metal_type, class: 'btn btn-outline-info text-white' %> |
<%= link_to 'Manage Metal Types', metal_types_path, class: 'btn btn-outline-secondary text-white' %>

</div>
<hr class="new1">


<%= render 'form', metal_type: @metal_type %>


