<div class="container portfolio-container text-white">

<h1>Add Metal Type</h1>

<br>

<%= link_to 'Go Back', metal_types_path, class: 'btn btn-outline-secondary text-white' %>

<hr class="new1">

<%= render 'form', metal_type: @metal_type %>

</div>
