<h1>Editing Country</h1>
<div class="text-white">

<%= link_to 'Back To Country', @country, class: 'btn btn-outline-info text-white' %> |
<%= link_to 'Manage Countries', countries_path, class: 'btn btn-outline-secondary text-white' %>

</div>

<hr class="new1">


<%= render 'form', country: @country %>


