<div class="container portfolio-container text-white">

<h1>Add Country</h1>
<br>

<%= link_to 'Go Back', countries_path, class: 'btn btn-outline-secondary text-white' %><i style="white-space: pre; color:aquamarine;">   * Required Fields</i>

<hr class="new1">


<%= render 'form', country: @country %>

</div>


