<div class="container portfolio-container text-white">

<h1>Add Line Item</h1>

<br>

<%= link_to 'Go Back', line_items_path, class: 'btn btn-outline-secondary text-white' %>

<hr class="new1">

<%= render 'form', line_item: @line_item %>

</div>