<div class="container portfolio-container text-white">


<h1>Add Customer Type</h1>
<br>

<%= link_to 'Go Back', customer_types_path, class: 'btn btn-outline-secondary text-white' %>

<hr class="new1">

<%= render 'form', customer_type: @customer_type %>

</div>


