<div class="container portfolio-container text-white">

<h1>Add Customer Vehicle</h1>

<br>

<%= link_to 'Back', customer_vehicles_path, class: 'btn btn-outline-secondary text-white' %><i style="white-space: pre; color:aquamarine;">   * Required Fields</i>


<hr class="new1">

<%= render 'form', customer_vehicle: @customer_vehicle %>

</div>
