<h1>Editing Manufacturer</h1>

<div class="text-white">

<%= link_to 'Back To Car Manufacturer', @manufacturer, class: 'btn btn-outline-info text-white' %> |
<%= link_to 'Manage Car Manufacturers', manufacturers_path, class: 'btn btn-outline-secondary text-white' %>

</div>

<%= render 'form', manufacturer: @manufacturer %>


