<div class="container portfolio-container text-white">

<h1>Add Car Manufacturer</h1>

<br>

<%= link_to 'Back', manufacturers_path, class: 'btn btn-outline-secondary text-white' %><i style="white-space: pre; color:aquamarine;">   * Required Fields</i>

<hr class="new1">


<%= render 'form', manufacturer: @manufacturer %>

</div>

